version: '3.8'
services:
  movies:
    image: stranzer18/phonepayrecharge:latest
    ports:
      - "81:80"
    deploy:
      replicas: 3
  train:
    image: stranzer18/phonepaydth:latest
    ports:
      - "82:80"
    deploy:
      replicas: 3
  recharge:
    image: stranzer18/phonepaymovies:latest
    ports:
      - "83:80"
    deploy:
      replicas: 3
  dth:
    image: stranzer18/phonepayrtrain:latest
    ports:
      - "84:80"
    deploy:
      replicas: 3
